:root {
  --black: #212027;
}
header {
  margin-bottom: 276px;
}
header .top_bar {
  margin-bottom: 21px ;
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top_bar .logo {
  font-family: libre-caslon-text-regular;
  max-width: 206px;
  font-size: 32px;
  line-height: 30px;
  color: 1E1E1E;
  text-transform: uppercase;
}
header .top_bar .nav {
  display: flex;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
header .top_bar .nav li + li {
  margin-left: 35px;
}
header .top_bar .nav a {
  color: 1E1E1E;
  display: inline-block;
  position: relative;
}
header .top_bar .nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #F88379;
  transition: transform 0.25s ease;
  transform-origin: bottom left;
}
header .top_bar .nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
header .top_bar .social {
  margin-left: 127px;
}
header .top_bar .social a + a {
  margin-left: 15px;
}
header .header-img {
  position: relative;
}
header .header-img .slider-one {
  position: relative;
  max-width: 100%;
  height: 897px;
  overflow: hidden;
}
header .header-img .slider-one .slider-wrap {
  display: flex;
  height: 100%;
}
header .header-img .slider-one .slider-wrap .slide {
  min-width: 100%;
  height: 100%;
}
header .header-img .slider-one .slider-wrap .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}
header .header-img .contact-wrap {
  position: absolute;
  z-index: 1;
  bottom: 75px;
  left: 75px;
  background-color: #FFFFFF;
  width: 444px;
  height: 198px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
}
header .header-img .contact-wrap .description {
  font-family: "Advent Pro", serif;
  border: #212027 solid 1px;
  padding: 6px 10px;
  font-weight: 600;
  font-size: 32px;
  border-radius: 3px;
  text-transform: uppercase;
  -webkit-transition: background 1s;
  transition: background 0.2s;
}
header .header-img .contact-wrap .description:hover {
  background-color: #F88379;
}
header .header-img .contact-wrap .number {
  display: flex;
  align-items: center;
  font-family: Arial;
  font-weight: Bold;
  font-size: 24px;
  gap: 5px;
  color: #F88379;
}
.about_me {
  display: flex;
  border: 2px solid #212027;
  border-right: none;
  border-radius: 85px 0 0 85px;
  margin-left: 80px;
  margin-bottom: 225px;
}
.about_me img {
  position: relative;
  bottom: 51px;
  left: 95px;
  margin-right: 186px;
}
.about_me .about_content .describion {
  width: 491px;
  font-family: "Advent Pro", serif;
  font-size: 20px;
  color: var(--black);
}
.my_work {
  padding-top: 225px;
  display: grid;
  grid-template-areas: 'content_one content_three' 'content_two content_three';
  grid-template-rows: 250px 115px;
  height: 852px;
  min-width: 100%;
  align-items: center;
}
.my_work .content {
  grid-area: content_one;
}
.my_work .content .content_titel {
  text-align: center;
  color: #eaeaea;
  margin-bottom: 60px;
}
.my_work .content_buttons {
  align-items: center;
  grid-area: content_two;
  display: flex;
  flex-direction: column;
}
.my_work .content_buttons a {
  font-family: "Advent Pro", serif;
  font-size: 32px;
  line-height: 44px;
  color: #eaeaea;
  border: 1px solid #eaeaea;
  text-align: center;
  border-radius: 3px;
  width: 211px;
  height: 46px;
  text-transform: uppercase;
  -webkit-transition: background 1s;
  transition: background 0.2s;
}
.my_work .content_buttons a + a {
  margin-top: 30px;
}
.my_work .content_buttons a:hover {
  background-color: #F88379;
}
.my_work .slider_two {
  padding-left: 160px;
  grid-area: content_three;
  width: 700px;
  height: 800px;
  overflow: hidden;
}
.my_work .slider_two .slider-wrap {
  position: relative;
}
.my_work .slider_two .slider-wrap .slider-item {
  padding: 0px 50px 80px;
}
.revieuws {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.revieuws .content_titel {
  margin-top: 225px;
  margin-bottom: 130px;
}
.revieuws .review_slider .app_wrapper {
  position: relative;
}
.revieuws .review_slider .app_wrapper .app_2 {
  position: absolute;
  z-index: 2;
  bottom: 250px;
  left: 170.5vw;
}
.revieuws .review_slider .app_wrapper .app_1 {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  right: 170.5vw;
}
.revieuws .review_slider .slider_wrap {
  display: flex;
  gap: 50px;
  margin-bottom: 24px;
}
.revieuws .review_slider .slider_wrap .slide {
  border: 2px solid #212027;
  width: 570px;
  height: 300px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 66px;
}
.revieuws .review_slider .slider_wrap .slide p {
  font-family: "Advent Pro", serif;
  font-size: 24px;
  text-align: center;
}
.cost_works {
  margin-top: 300px;
  margin-bottom: 355px;
}
.cost_works .content_titel {
  text-align: center;
  margin-top: 225px;
  margin-bottom: 130px;
  width: 99%;
}
.cost_works .price_wrap {
  display: flex;
  flex-direction: column;
  gap: 200px;
}
.cost_works .price_wrap .price_item {
  position: relative;
  display: flex;
  align-items: center;
}
.cost_works .price_wrap .price_item img {
  position: relative;
}
.cost_works .price_wrap .price_item .price {
  gap: 10xp;
  max-width: 850px;
  min-width: 300px;
  margin-left: 50px;
}
.cost_works .price_wrap .price_item .price table {
  font-family: "Advent Pro", serif;
  font-size: 24px;
}
.cost_works .price_wrap .price_item .price table .price_phone_change {
  display: none;
}
.cost_works .price_wrap .price_item .price table caption {
  text-align: left;
  font-weight: 700;
}
.cost_works .price_wrap .price_item .price table td + td {
  white-space: nowrap;
  padding-left: 100px;
}
.cost_works .price_wrap .price_item .price .last .last-table td + td {
  padding-left: 30px;
}
.cost_works .price_wrap .price_item:nth-child(even) {
  flex-direction: row-reverse;
}
.cost_works .price_wrap .price_item:nth-child(even) .price {
  margin-right: 723px;
}
.cost_works .price_wrap .price_item:nth-child(even) img {
  position: absolute;
}
.cost_works .price_wrap .price_item:last-child img {
  transform: scale(1.1);
}
.reserveer {
  margin-top: 225px;
}
.reserveer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.reserveer .container .reserveer-short-info .content_titel {
  margin: 73px 0 15px;
}
.reserveer .container .reserveer-short-info p {
  position: relative;
  width: 390px;
  text-align: center;
  font-family: "Advent Pro", serif;
  margin: 0 auto 77px;
  display: flex;
  align-items: center;
}
.reserveer .container .reserveer_information {
  width: 1052px;
  display: flex;
  justify-content: space-between;
}
.reserveer .container .reserveer_information .reserveer_info {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.reserveer .container .reserveer_information .reserveer_info .geo {
  max-width: 268px;
}
.reserveer .container .reserveer_information .reserveer_info .info {
  color: #F88379;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.reserveer .container .reserveer_information .reserveer_info .info a {
  text-decoration: none;
  color: #F88379;
}
.reserveer .container .reserveer_information .reserveer_info .info p {
  margin-top: 22.47px;
}
.reserveer .container .reserveer_information .map_location {
  display: block;
}
.reserveer .container .reserveer_information .map_location p {
  font-family: "Advent Pro", serif;
  margin-top: 8px;
}
.werkuren {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 35px;
}
.werkuren .content_titel {
  margin-top: 225px;
}
.werkuren .uren {
  border: #212027 solid 1px;
  border-radius: 3px;
  margin-top: 133px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.werkuren .uren p {
  white-space: nowrap;
  margin: 60px 0px;
  max-width: 339px;
  font-family: "Advent Pro", serif;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}
.footer {
  margin-top: 225px;
  height: 447px;
  background-color: #212027;
  color: #D9D9D9;
  font-size: 24px;
  font-family: "Advent Pro", serif;
  display: flex;
  align-items: center;
}
.footer .footer-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer .footer-box .footer-text .BTW {
  font-family: "Advent Pro", serif;
  font-weight: 100;
}
.footer .footer-box .footer-navigation {
  display: flex;
  flex-direction: column;
  height: 206.5px;
  justify-content: space-between;
}
.footer .footer-box .footer-navigation .footer-nav nav ul {
  display: flex;
}
.footer .footer-box .footer-navigation .footer-nav nav ul li + li {
  margin-left: 35px;
}
.footer .footer-box .footer-navigation .footer-nav nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  color: #eaeaea;
  text-transform: uppercase;
}
.footer .footer-box .footer-navigation .footer-nav nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #F88379;
  transition: transform 0.25s ease;
  transform-origin: bottom left;
}
.footer .footer-box .footer-navigation .footer-nav nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.footer .footer-box .footer-navigation .social {
  display: flex;
  justify-content: right;
}
.footer .footer-box .footer-navigation .social a + a {
  margin-left: 15px;
}
.menu_phone {
  display: none;
}
.menu_phone div {
  width: 32px;
  background-color: #212027;
  height: 2.2px;
  border-radius: 3px;
}
.menu_phone div + div {
  margin-top: 5px;
}
.menu_phone_in {
  background-color: #212027;
  width: 100%;
  height: 580px;
  border-radius: 0 0 70px 70px;
  position: fixed;
  top: -580px;
  transition: top 0.5s ease;
}
.menu_phone_in .button_exet {
  color: whitesmoke;
  transform: scale(3);
  margin: 36px 0 0 36px;
}
.menu_phone_in .nav_phone {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu_phone_in .nav_phone li {
  margin-top: 171px;
}
.menu_phone_in .nav_phone li + li {
  margin-top: 42px;
}
.menu_phone_in .nav_phone a {
  position: relative;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #D9D9D9;
}
.menu_phone_in .nav_phone a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #F88379;
  transition: transform 0.25s ease;
  transform-origin: bottom left;
}
.menu_phone_in .nav_phone a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.menu_phone_in div {
  width: 28px;
  height: 3px;
  background-color: #212027;
  border-radius: 3px;
}
.menu_phone_in div + div {
  margin-top: 5px;
}
.active_phone_in {
  top: 0;
}
@media screen and (max-width: 790px) {
  header .top_bar {
    display: flex;
    justify-content: space-around;
  }
  header .top_bar .logo {
    max-width: none;
    font-size: 24px;
  }
  header .top_bar .nav {
    display: none;
  }
  header .top_bar .social {
    display: none;
  }
  header .top_bar .menu_phone {
    display: block;
  }
  header .header-img .contact-wrap {
    display: none;
  }
  .menu_phone_in {
    z-index: 2;
    position: absolute;
  }
  .menu_phone_in nav .nav_phone li a {
    display: inline-block;
  }
  .about_me {
    margin-left: 22px;
    margin-bottom: 225px;
    flex-direction: column;
  }
  .about_me img {
    position: relative;
    bottom: 127px;
    right: auto;
    position: right;
    margin-right: 186px;
    width: 309px;
  }
  .about_me .content_titel {
    margin-top: 0px;
    margin-left: 27px;
    font-size: 48px;
  }
  .about_me .about_content .describion {
    margin-left: 62px;
    margin-bottom: 96px;
    width: 274px;
  }
  .my_work {
    padding: 0px 0px;
    justify-content: center;
    height: 100%;
    min-width: 100%;
    background-color: #212027;
    grid-template-areas: 'content_one' 'content_three' 'content_two';
    grid-template-rows: 1fr 2fr 0.1fr;
    align-items: center;
  }
  .my_work .content {
    display: flex;
    justify-content: center;
  }
  .my_work .content .content_titel {
    width: 256px;
    margin: 0px;
    text-align: center;
  }
  .my_work .slider_two {
    padding-left: 0px;
    width: 550px;
    height: 63%;
    overflow: hidden;
  }
  .my_work .slider_two .slider-wrap {
    position: relative;
    display: flex;
  }
  .my_work .slider_two .slider-wrap .slider-item {
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
  }
  .revieuws .content_titel {
    font-size: 48px;
    text-align: center;
  }
  .revieuws .review_slider .slider_wrap {
    gap: 14px;
  }
  .revieuws .review_slider .slider_wrap .slide {
    width: 323px;
    height: 411px;
    padding: 32px 17px;
  }
  .cost_works .content_titel {
    font-size: 48px;
    text-align: center;
  }
  .cost_works .price_wrap {
    gap: 200px;
  }
  .cost_works .price_wrap .price_item {
    position: sticky;
    display: inline-block;
    flex-direction: column;
    align-items: center;
  }
  .cost_works .price_wrap .price_item img {
    width: 100%;
    position: sticky;
  }
  .cost_works .price_wrap .price_item .price {
    max-width: 850px;
    min-width: 300px;
    margin-left: 35px;
    margin-right: 35px
              ;
  }
  .cost_works .price_wrap .price_item .price table {
    width: 100%;
    font-family: "Advent Pro", serif;
    font-size: 24px;
  }
  .cost_works .price_wrap .price_item .price table .price_mac_change {
    display: none;
  }
  .cost_works .price_wrap .price_item .price table .price_phone_change {
    display: flex;
    justify-content: space-between;
  }
  .cost_works .price_wrap .price_item .price table caption {
    text-align: left;
    font-weight: 700;
  }
  .cost_works .price_wrap .price_item .price table tr :last-child {
    color: #F88379;
    white-space: nowrap;
  }
  .cost_works .price_wrap .price_item .price table tr {
    display: flex;
    justify-content: space-between;
  }
  .cost_works .price_wrap .price_item:nth-child(even) {
    flex-direction: column;
  }
  .cost_works .price_wrap .price_item:nth-child(even) .price {
    margin-right: 35px;
  }
  .cost_works .price_wrap .price_item:nth-child(even) img {
    position: sticky;
    transform: scale(1);
  }
  .reserveer .container .reserveer-short-info .content_titel {
    font-size: 48px;
    margin: 73px 0 15px;
    text-align: center;
  }
  .reserveer .container .reserveer_information {
    width: 315px;
    height: 450.07px;
  }
  .reserveer .container .reserveer_information .map_location {
    display: none;
  }
  .werkuren .content_titel {
    font-size: 48px;
  }
  .werkuren .uren {
    margin-top: 63px;
    border: #212027 solid 1px;
    border-radius: 3px;
  }
  .werkuren .uren p {
    margin: 120px 25px;
    max-width: 339px;
    font-family: "Advent Pro", serif;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
  }
  .footer {
    padding: 52px 33px 52px 33px;
  }
  .footer .footer-box {
    height: 100%;
    align-items: end;
  }
  .footer .footer-box .footer-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer .footer-box .footer-text .BTW {
    font-family: "Advent Pro", serif;
    font-weight: 100;
  }
  .footer .footer-box .footer-navigation {
    display: flex;
    flex-direction: column;
    height: 206.5px;
    justify-content: space-between;
  }
  .footer .footer-box .footer-navigation .footer-nav nav {
    display: none;
  }
  .footer .footer-box .footer-navigation .footer-nav nav ul {
    display: flex;
  }
  .footer .footer-box .footer-navigation .footer-nav nav ul li + li {
    margin-left: 35px;
  }
  .footer .footer-box .footer-navigation .footer-nav nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    color: #eaeaea;
    text-transform: uppercase;
  }
  .footer .footer-box .footer-navigation .footer-nav nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #F88379;
    transition: transform 0.25s ease;
    transform-origin: bottom left;
  }
  .footer .footer-box .footer-navigation .footer-nav nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .footer .footer-box .footer-navigation .social {
    display: flex;
    justify-content: right;
  }
  .footer .footer-box .footer-navigation .social a + a {
    margin-left: 15px;
  }
}
